/* import font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.body{
    font-family: 'Poppins', sans-serif;
}
/* ------------Style head container---------------  */
.head-container{
    display: flex;
    background-color: #2D25A0;
    height: 677px;
}
.head-left{
    
    margin-top: 207px;
    margin-left: 152px;
    margin-bottom: 150px;
    
}
.head-title h1{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 700;
}

.link-button{
    width: 200px;
    height: 44px;
    
}
.link-button a{
    text-decoration: none;
    background-color: #E02C6D;
    color:white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 24px;
}
/* -----------link-button hover style--------- */
.link-button a:hover{

    background-color: orange;
    font-size: 28px;
}
.head-right img{
    Width: 556.01px;
    Height: 438px;
    margin-left: 106px;
    margin-right: 140px;
    margin-top: 153px;
    margin-bottom: 86px;
}
/*----------------------- players style-----------s */
.player-container{
    width: 1050px;
    background-color: #FFFFFF;
    margin-top: 70px; 
    margin-left: 170px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    width: 300px;
    height: 474px;
    border: 15px solid whitesmoke;
}
.player-image img{
    width: 300px;
    height: 256px;
    border-radius: 2px;
}
.player-name h2{
    font-size: 28px;
    font-weight: 700;
}
.player-details p{
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

/* -----------------highlights styles------------- */
.video-container{
    width: 1050px;
    margin-left: 170px;
    margin-top: 60px;
    background-color:rgba(0, 0, 255, 0.041);



}

.video-container h1{
    font-size: 40px;
    padding: 20px;
    
}
    /* video container heading hover */
.video-container h1:hover{
    background-color: skyblue;
    font-size:50px;
    color: blue;
}

.highlights{
    display: flex;
    border: 2px solid skyblue;
    border-radius: 3px;
}

.video iframe{
border-radius: 10px; 
margin-left: 15px;
}
.highlights-title{
    margin-left: 24px;
    margin-right: 20px;
}
.highlights-title h2{
    font-size: 35px;
    font-weight: 700;
}

.highlights-title h3{
    font-size: 24px;
    font-weight: 500;
}
.author span{
    font-size: 16px;
    font-weight: 400;
    color:burlywood
}
/* footer styles  */
footer{
    
    margin-left: auto;
    margin-right: auto;
}
.footer-container{
    margin-top: 170px;
    width: 484px;
    height: 213px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer img{
    width: 484px;
    height: 110px;
}
footer a{
    padding: 5px;
}